---
layout: default
---
<section>
	<div style="border: 3px solid #000000; background-color: #ffffff; color: black; border-radius: 5px; padding: 5px; padding-bottom: 20px;">
		<center>
			<p><b>Notice</b></p>
			<p>POW, GENCHEM LECTURES에 대한 노트들은 하단 바에서</p>
			<p>해당 페이지를 들어가면 확인하실 수 있습니다.</p>
			<p><b>유튜브 영상(Youtube Lectures)는 하단의 링크를 통해 들어가서 보세요!</b></p>
			<a href="https://www.youtube.com/@chem_wj">https://www.youtube.com/@chem_wj</a>
		</center>
	</div>
</section>
<section>
	<center>
		<span style="border: 3px solid #666666; background-color: #666666; color: white; border-radius: 5px; padding: 5px;">
			<a style="text-decoration: none; color:white; margin: 10px;" href="/pow">POW</a>|<a style="text-decoration: none; color:white; margin: 10px;" href="/g1">일반화학I</a>|<a style="text-decoration: none; color:white; margin: 10px;" href="/g2">일반화학II</a>
		</span>
	</center>
</section>
<section>
	{% for post in site.posts %}
		{% if post.status == "notice" %}
			<h3 class="code">Notice</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "notice" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<span style="border: 1px solid LightCoral; background-color: LightCoral; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">공지</span>
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
	{% for post in site.posts %}
		{% if post.status == "hot" %}
			<h3 class="code">Hot</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "hot" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<span style="border: 1px solid Gold; background-color: Gold; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">HOT</span>
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
		
	{% for post in site.posts %}		
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		
		{% endunless %}
		{% if post.status == "public" or post.status == "youtube" or post.status == "question-unsolved" or post.status == "question-solved" or post.status == "literature" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}

</section>
