---
layout: compress
published: true
---
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}
		{% include analytics.html %}

	</body>

</html>
